body{

    background: url(./img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 850px;
    overflow: hidden;
    color: rgb(230, 45, 20);
    background-color: rgb(8, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
        
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    align-items: center;
    padding: 16px;

}

a{
    color: rgb(27,230,20);
    text-decoration: none;
}
img{
    width: 150px;
    height: 150px ;
    border-radius: 50%;
    border: 5px solid rgb(27,230,20);

}

.center{
    text-align: center;
}


header{
    text-align: right;
    
}
elemento{
    cursor: pointer;
}


